
{% extends 'common.html' %}

{% block pwn %}
    <style>
        #states
        {
            font-size: 25px;
            font-family: "Agency FB";
            color: red;
            background-color: yellow;
            padding: 5px;
            text-align: center;
        }
        #states_list
        {
            text-align: center;
        }
    </style>

    <table align="center" border="2">
        <tr><th id="states">States In India</th></tr>
        {% for x in data %}
            <tr><th id="states_list">

            <a href="{% url 'open_state' %}?state_name={{ x }}">
                {{ x }}
            </a>

            </th></tr>
        {% endfor %}
    </table>


{% endblock %}